header {
    width: 100%;
}
header .logo img {
    width: 300px; 
}
header ul {
    background-color: black;
    height: 60px;
}
header ul li {
    float: left;
    list-style: none;
    line-height: 60px;
    padding-left: 30px;
    color: white;
}
main {
    clear: left;
    width: 100%;
}
.left {
    float: left;
    width: 70%;
}
.left h1 {
    border-bottom: 2px solid gray;
    border-left:  5px solid black;
}
.left form{
    float: left;
    margin: 0 auto;   
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    width: 100%;
}
.left form h2 {
    font-size: 18px;
    border-left:  5px solid red;
    padding-left: 15px;
}
.left form div{
    padding: 15px;
}
.left .text, textarea{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}
.left textarea{
    width: 480px;
}
.left .submit{
    border: 1px solid lightgray;
    padding: 4px 10px;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
    border-bottom: solid 2px gray;
}
.left .gray_box {
    float: left;
    margin-top: 15px;  
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    border-radius: 10px;
    width: 100%;
}
.left .gray_box h2 {
    font-size: 18px;
    border-bottom:  1px solid lightgray;
    padding-left: 15px;
}
.right {
    float: left;
    padding-top: 25px;
    padding-left: 30px;
    width: 25%;
}
.right h1 {
    font-size: 20px;
    border-bottom: 2px dotted gray;
}
.right li {
    padding-left: 20px;
    list-style-type: none;
}
footer {
    clear: left;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 60px;
}